# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# User defined
nbproject/private/
build/
dist/

/OptimalTravelPlan/dist/
/OptimalTravelPlan/build/
/OptimalTravelPlan/nbproject/private/

/OptimalTravelPlan/OptimalTravelPlan-war/dist/
/OptimalTravelPlan/OptimalTravelPlan-war/build/
/OptimalTravelPlan/OptimalTravelPlan-war/nbproject/private/

/OptimalTravelPlan/OptimalTravelPlan-ejb/dist/
/OptimalTravelPlan/OptimalTravelPlan-ejb/build/
/OptimalTravelPlan/OptimalTravelPlan-ejb/nbproject/private/

/OptimalTravelPlan/OptimalTravelPlanRWS/dist/
/OptimalTravelPlan/OptimalTravelPlanRWS/build/
/OptimalTravelPlan/OptimalTravelPlanRWS/nbproject/private/


