<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>redmond</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <ejb-local-ref>
        <ejb-ref-name>AccountSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.AccountSessionBeanLocal</local>
        <ejb-link>OptimalTravelPlan-ejb.jar#AccountSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TagSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.TagSessionBeanLocal</local>
        <ejb-link>OptimalTravelPlan-ejb.jar#TagSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CountrySessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.CountrySessionBeanLocal</local>
        <ejb-link>OptimalTravelPlan-ejb.jar#CountrySessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PaymentAccountSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.PaymentAccountSessionBeanLocal</local>
        <ejb-link>OptimalTravelPlan-ejb.jar#PaymentAccountSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BookingSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.BookingSessionBeanLocal</local>
        <ejb-link>OptimalTravelPlan-ejb.jar#BookingSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmailSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.session.stateless.EmailSessionBeanLocal</local>
        <ejb-link>OptimalTravelPlan-ejb.jar#EmailSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
